@font-face {
  font-family: "Sharp Sans";
  src: local("Sharp Sans"),
    url("./fonts/Sharp/Sharp Sans.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Sharp Sans";
  src: local("Sharp Sans"),
    url("./fonts/Sharp/SharpSansBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/SofiaPro/sofiapro-light.otf") format("opentype");
  font-weight: normal;
}
