.feedback {
  &__wrapper {
    padding: 70px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Sharp Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 68px;
    text-align: center;

    color: #151414;
    margin-bottom: 47px;
  }

  &__carousel {
    width: 90%;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #2c9553 !important;
}
